@font-face {
  font-family: Formular;
  font-weight: 200;
  src: url('./fonts/Formular/formular-extralight.otf');
}

@font-face {
  font-family: Formular;
  font-weight: 300;
  src: url('./fonts/Formular/formular-light.otf');
}

@font-face {
  font-family: Formular;
  font-weight: 400;
  src: url('./fonts/Formular/formular-regular.otf');
}

@font-face {
  font-family: Formular;
  font-weight: 500;
  src: url('./fonts/Formular/formular-medium.otf');
}

@font-face {
  font-family: Formular;
  font-weight: 700;
  src: url('./fonts/Formular/formular-bold.otf');
}

@font-face {
  font-family: Formular;
  font-weight: 800;
  src: url('./fonts/Formular/formular-black.otf');
}
